parameters:
  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  paths:
    - %currentWorkingDirectory%/src
  checkMissingIterableValueType: false
  ignoreErrors:
  	#- '#(.*) expects class-string\<T of object\>\|T of object, (.*) given$#'