parameters:
  inferPrivatePropertyTypeFromConstructor: true
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  paths:
    - %currentWorkingDirectory%/src
  ignoreErrors:
  	- '#Method .* should return array<\w+> but returns array\.#'
  	- '#Cannot cast mixed to int\.#'
  	- '#Cannot cast mixed to string\.#'