parameters:
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  autoload_files:
    - vendor/autoload.php
  paths:
    - %currentWorkingDirectory%/tests
  ignoreErrors:
  	- '#(.*) expects (.*\|)?class\-string(\||<.*)?, (.*) given#'